<div class='wrapper'>

  <main class='banner'>

    <div class='banner-nav'>
      <div class='container'>
        <ul>
          <li>
            <a href=''>Trang chủ</a>
          </li>
          <li>
            >
          </li>
          <li>
            <a class='banner-nav-sale' href=''>Fahasa sale thứ 3</a>
          </li>
        </ul>
      </div>
    </div>

    <div class='banner-1'>
      <img src='.././public/img/Sale/Banner/banner 1.jpg' alt='' />
    </div>

    <div class='container'>

      <div class='banner-content'>

        <div class='banner-2'>
          <img src='.././public/img/Sale/Banner/banner 2.jpg' alt='' />
        </div>

        <div class='banner-3'>
          <a href=''>
            <img src='.././public/img/Sale/Banner/banner 3.jpg' alt='' />
          </a>
        </div>

        <div class='banner-4'>
          <a href=''>
            <img src='.././public/img/Sale/Banner/banner 4.jpg' alt='' />
          </a>
        </div>

      </div>

      <ul class='sale-code'>
        <li>
          <a href=''>
            <img src='.././public/img/Sale/Voucher/voucher 1.jpg' alt='' />
          </a>
        </li>
        <li>
          <a href=''>
            <img src='.././public/img/Sale/Voucher/voucher 2.jpg' alt='' />
          </a>
        </li>
        <li>
          <a href=''>
            <img src='.././public/img/Sale/Voucher/voucher 3.jpg' alt='' />
          </a>
        </li>
      </ul>

      <!-- VOUCHER -->

      <div class='voucher'>
        <div class='voucher-list'>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 50% TỐI ĐA 30K</h2>
                <span>ĐH từ 60K</span>
                <span>NHẬP MÃ NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-100'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>15/06/2023</span>
                <span>09:00</span>
              </div>
              <ul class='voucher-btn'>
                <button class='btn'>Hết mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 16K</h2>
                <span>Đơn hàng 0Đ</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-100'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>15/06/2023</span>
                <span>09:00</span>
              </div>
              <ul class='voucher-btn'>
                <button class='btn'>Hết mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>

        </div>

        <div class='voucher-list'>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 10K</h2>
                <span>Đơn hàng từ 150K (TOÀN SÀN)</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-80'></span>
              </div>
            </div>
            <div class='voucher-item-right gap-10'>
              <div class='voucher-time'>
                <span>01/06/2023</span>
                <span>00:00</span>
              </div>
              <span class='code'>FHS10KT06</span>
              <button class='btn btn-red'>Copy mã</button>
            </div>
          </div>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 30K</h2>
                <span>Đơn hàng từ 400K (TOÀN SÀN)</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-60'></span>
              </div>
            </div>
            <div class='voucher-item-right gap-10'>
              <div class='voucher-time'>
                <span>01/06/2023</span>
                <span>00:00</span>
              </div>
              <span class='code'>FHS30KT06</span>
              <button class='btn btn-red'>Copy mã</button>
            </div>
          </div>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 60K</h2>
                <span>Đơn hàng từ 500K (TOÀN SÀN)</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-30'></span>
              </div>
            </div>
            <div class='voucher-item-right gap-10'>
              <div class='voucher-time'>
                <span>01/06/2023</span>
                <span>00:00</span>
              </div>
              <span class='code'>FHS60KT06</span>
              <button class='btn btn-red'>Copy mã</button>
            </div>
          </div>
        </div>

        <div class='voucher-list'>
          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>FREESHIP 5K</h2>
                <span>ĐH từ 150K</span>
                <span>NHẬP MÃ NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-100'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>09/06/2023</span>
                <span>00:00</span>
              </div>
              <ul class='voucher-btn'>
                <button class='btn'>Hết mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>FREESHIP 15K</h2>
                <span>Đơn hàng 0Đ</span>
                <span>NHẬP MÃ NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-100'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>12/06/2023</span>
                <span>00:00</span>
              </div>
              <ul class='voucher-btn'>
                <button class='btn'>Hết mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- FLASH SALE -->

      <div class='sale'>
        <a href=''>
          <img src='.././public/img/Sale/Flash sale/banner.jpg' alt='' />
        </a>

        <div class='container'>
          <div class='sale-content'>

            <div class='sale-header'>
              <div class='sale-logo'>
                <a href=''>
                  <img src='.././public/img/Sale/Flash sale/logo.png' alt='' />
                  <h2>FLASH SALE</h2>
                </a>
                <span>Kết Thúc Trong</span>
              </div>

              <div class='sale-time'>
                <div class='hour'>01</div>
                :
                <div class='minute'>00</div>
                :
                <div class='second'>00</div>
              </div>
            </div>

            <div class='sale-body'>

              <div class='sale-list'>

                <div class='sale-item sold-out'>
                  <a class='sale-item-link' href=''>
                    <img
                      class='hide'
                      src='.././public/img/Sale/Flash sale/fl sale 1.jpg'
                      alt=''
                    />
                    <span>50%</span>
                    <h3>Hành Trình Về Phương Đông (Tái Bản 2021)</h3>
                    <span class='sold-out-text'>Cháy hàng</span>
                  </a>

                  <div class='sale-data'>
                    <div class='trend-price'>
                      <span class='color-orange'>59.000đ</span>
                      <span>119.000đ</span>
                    </div>

                    <div>
                      <a class='sale-star' href=''>
                        <ul>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                        </ul>
                        <span>5.0</span>
                      </a>
                    </div>
                  </div>

                  <div class='sale-process'>
                    <span>Đã bán 60</span>
                    <span class='process-100'></span>
                  </div>
                </div>

                <div class='sale-item'>
                  <a class='sale-item-link' href=''>
                    <img
                      src='.././public/img/Sale/Flash sale/fl sale 2.jpg'
                      alt=''
                    />
                    <span>50%</span>
                    <h3>Đừng Để Những Tin Đồn Ung Thư Giết Chết Bạn</h3>
                  </a>

                  <div class='sale-data'>
                    <div class='trend-price'>
                      <span class='color-orange'>34.400đ</span>
                      <span>68.000đ</span>
                    </div>
                    <div>
                      <a class='sale-star' href=''>
                        <ul>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-regular fa-star-half-stroke'></i>
                          </li>
                        </ul>
                        <span>4.5</span>
                      </a>
                    </div>
                  </div>

                  <div class='sale-process'>
                    <span>Đã bán 24</span>
                    <span></span>
                  </div>
                </div>

                <div class='sale-item mobile-none'>
                  <a class='sale-item-link' href=''>
                    <img
                      src='.././public/img/Sale/Flash sale/fl sale 3.jpg'
                      alt=''
                    />
                    <span>50%</span>
                    <h3>Alice In Borderland - Tập 10 - Tặng Kèm Postcard</h3>
                  </a>

                  <div class='sale-data'>
                    <div class='trend-price'>
                      <span class='color-orange'>17.500đ</span>
                      <span>35.000đ</span>
                    </div>
                    <div>
                      <a class='sale-star' href=''>
                        <ul>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-regular fa-star'></i>
                          </li>
                        </ul>
                        <span>4.0</span>
                      </a>
                    </div>
                  </div>

                  <div class='sale-process'>
                    <span>Đã bán 24</span>
                    <span></span>
                  </div>
                </div>

                <div class='sale-item tablet-none'>
                  <a class='sale-item-link' href=''>
                    <img
                      src='.././public/img/Sale/Flash sale/fl sale 4.jpg'
                      alt=''
                    />
                    <span>50%</span>
                    <h3>Muối - Sự Hồi Sinh Nơi Sâu Thẳm Vụn Vỡ</h3>
                  </a>

                  <div class='sale-data'>
                    <div class='trend-price'>
                      <span class='color-orange'>83.200đ</span>
                      <span>166.000đ</span>
                    </div>
                    <div>
                      <a class='sale-star' href=''>
                        <ul>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-regular fa-star-half-stroke'></i>
                          </li>
                        </ul>
                        <span>4.4</span>
                      </a>
                    </div>
                  </div>

                  <div class='sale-process'>
                    <span>Đã bán 24</span>
                    <span></span>
                  </div>
                </div>

                <div class='sale-item sold-out tablet-none'>
                  <a class='sale-item-link' href=''>
                    <img
                      class='hide'
                      src='.././public/img/Sale/Flash sale/fl sale 5.jpg'
                      alt=''
                    />
                    <span>50%</span>
                    <h3>Đắc Nhân Tâm (Khổ Nhỏ) (Tái bản 2022)</h3>
                    <span class='sold-out-text'>Cháy hàng</span>
                  </a>

                  <div class='sale-data'>
                    <div class='trend-price'>
                      <span class='color-orange'>34.100</span>
                      <span>69.000</span>
                    </div>
                    <div>
                      <a class='sale-star' href=''>
                        <ul>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-solid fa-star'></i>
                          </li>
                          <li>
                            <i class='fa-regular fa-star'></i>
                          </li>
                        </ul>
                        <span>4.0</span>
                      </a>
                    </div>
                  </div>

                  <div class='sale-process'>
                    <span>Đã bán 66</span>
                    <span class='process-100'></span>
                  </div>
                </div>

              </div>

              <a class='sale-link' href=''>Xem Thêm</a>
            </div>

          </div>
        </div>
      </div>

      <!-- VOUCHER -->

      <div class='voucher'>
        <div class='voucher-list'>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 20K</h2>
                <span>Đơn hàng từ 150K (Brand Day NCC)</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-80'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>01/06/2023</span>
                <span>00:00</span>
              </div>
              <span class='code'>FHSBDT6</span>
              <ul class='voucher-btn'>
                <button class='btn btn-red'>Copy mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>

          <div class='voucher-item'>
            <div class='voucher-item-left'>
              <div>
                <h2>MÃ GIẢM 8%</h2>
                <span>Tối đa 70K Đơn hàng từ 199K (Brand Day NCC)</span>
                <span>MUA NGAY</span>
              </div>
              <div class='voucher-process'>
                <span class='process pro-60'></span>
              </div>
            </div>
            <div class='voucher-item-right'>
              <div class='voucher-time'>
                <span>01/06/2023</span>
                <span>00:00</span>
              </div>
              <span class='code'>BD70KT6</span>
              <ul class='voucher-btn'>
                <button class='btn btn-red'>Copy mã</button>
                <button class='btn'>Chi tiết thể lệ</button>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- PRODUCT 1 -->

      <div class='product'>
        <a href=''>
          <img src='.././public/img/Sale/Banner/banner 6.jpg' alt='' />
        </a>

        <main class='trend'>
          <div class='container'>

            <div class='sale-body'>
              <ul class='sale-nav'>
                <li class='show-border'>
                  <button>Tiểu thuyết</button>
                </li>
                <li>
                  <button>Kinh tế</button>
                </li>
                <li>
                  <button>Kỹ năng sống</button>
                </li>
                <li>
                  <button>Ngoại ngữ</button>
                </li>
                <li>
                  <button>Thiếu nhi</button>
                </li>
              </ul>

              <div class='sale-list'>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 1.jpg'
                      alt=''
                    />
                    <h3>
                      Hậu Cung Như Ý Truyện - Tập 1 - Tặng Kèm Bookmark Bồi Cứng
                      + Card Nhân Vật
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>194.650 đ</span>
                      <span>250.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-20%</span>
                      <span>Đã bán 457</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 2.jpg'
                      alt=''
                    />
                    <h3>
                      Hậu Cung Như Ý Truyện - Tập 2 - Tặng Kèm Bookmark Lục Giác
                      Bồi Cứng + Random Một Trong 3 Card Giấy Nhân Vật
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>194.650 đ</span>
                      <span>250.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-20%</span>
                      <span>Đã bán 541</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 3.jpg'
                      alt=''
                    />
                    <h3>
                      Người Dọn Dẹp Hiện Trường Án Mạng
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>70.500 đ</span>
                      <span>90.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-24%</span>
                      <span>Đã bán 254</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 4.jpg'
                      alt=''
                    />
                    <h3>
                      Điều Kỳ Diệu Của Tiệm Tạp Hóa Namiya (Tái Bản 2018)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>84.000 đ</span>
                      <span>120.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-28%</span>
                      <span>Đã bán 365</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item tablet-none'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 5.jpg'
                      alt=''
                    />
                    <h3>
                      Chuyện Xứ Lang Biang
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>90.000 đ</span>
                      <span>110.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-15%</span>
                      <span>Đã bán 467</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 6.jpg'
                      alt=''
                    />
                    <h3>
                      Những Con Quái Vật Đội Lốt Người Trong Thị Trấn - Tặng Kèm
                      1 Bookmark
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>97.700 đ</span>
                      <span>130.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-27%</span>
                      <span>Đã bán 114</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 7.jpg'
                      alt=''
                    />
                    <h3>
                      Chuyên gia pháp y
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>110.500 đ</span>
                      <span>160.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-33%</span>
                      <span>Đã bán 673</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 8.jpg'
                      alt=''
                    />
                    <h3>
                      Quái Đàm
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>89.100 đ</span>
                      <span>115.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-23%</span>
                      <span>Đã bán 243</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 9.jpg'
                      alt=''
                    />
                    <h3>
                      Chiếc Ghế Người
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>139.500 đ</span>
                      <span>170.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-26%</span>
                      <span>Đã bán 249</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 2/img 10.jpg'
                      alt=''
                    />
                    <h3>
                      Chuyện Xứ Lang Biang - Chủ Nhân Núi Lưng Chừng - Tập 3 -
                      Tặng Kèm 1 Sổ Thần Chú Ngẫu Nhiên Và 1 Bookmark Màu Ngẫu
                      Nhiên
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>165.750 đ</span>
                      <span>200.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-23%</span>
                      <span>Đã bán 323</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

              </div>

              <a class='trend-link' href=''>Xem Thêm</a>

            </div>
          </div>
        </main>
      </div>

      <!-- PRODUCT 2 -->

      <div class='product'>
        <a href=''>
          <img src='.././public/img/Sale/Banner/banner 5.jpg' alt='' />
        </a>

        <main class='trend'>
          <div class='container'>

            <div class='sale-body'>
              <ul class='sale-nav'>
                <li class='show-border'>
                  <button>Ngoại ngữ</button>
                </li>
                <li>
                  <button>Kinh tế</button>
                </li>
                <li>
                  <button>Văn học</button>
                </li>
                <li>
                  <button>Tiểu thuyết</button>
                </li>
                <li>
                  <button>Thiếu nhi</button>
                </li>
              </ul>

              <div class='sale-list'>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 1.jpg' alt='' />
                    <h3>
                      Destination B1 - Grammar And Vocabulary with Answer Key
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>109.425 đ</span>
                      <span>169.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-35%</span>
                      <span>Đã bán 357</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 2.jpg' alt='' />
                    <h3>
                      Mind Map English Vocabulary - Từ Vựng Tiếng Anh Qua Sơ Đồ
                      Tư Duy
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>128.700 đ</span>
                      <span>198.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-35%</span>
                      <span>Đã bán 200</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 3.jpg' alt='' />
                    <h3>
                      Tự Học 2000 Từ Vựng Tiếng Anh Theo Chủ Đề (Tái Bản)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>42.052 đ</span>
                      <span>70.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-40%</span>
                      <span>Đã bán 250</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 4.jpg' alt='' />
                    <h3>
                      Tiếng Hàn Tổng Hợp Dành Cho Người Việt Nam - Sơ Cấp 1 -
                      Bản Màu
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>162.946 đ</span>
                      <span>280.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-42%</span>
                      <span>Đã bán 400</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item tablet-none'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 5.jpg' alt='' />
                    <h3>
                      Giáo Trình Hán Ngữ Boya Sơ Cấp - Tập 1 (Tái Bản 2022)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>122.904 đ</span>
                      <span>200.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-39%</span>
                      <span>Đã bán 550</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 6.jpg' alt='' />
                    <h3>
                      Destination B2 - Grammar And Vocabulary with Answer Key
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>109.946 đ</span>
                      <span>180.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-40%</span>
                      <span>Đã bán 612</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 7.jpg' alt='' />
                    <h3>
                      Mindmap English Grammar - Ngữ Pháp Tiếng Anh Bằng Sơ Đồ Tư
                      Duy
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>123.500 đ</span>
                      <span>180.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-30%</span>
                      <span>Đã bán 366</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 8.jpg' alt='' />
                    <h3>
                      Từ Điển Anh - Anh - Việt - Dành Cho Học Sinh
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>103.350 đ</span>
                      <span>185.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-43%</span>
                      <span>Đã bán 541</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 9.jpg' alt='' />
                    <h3>
                      Chinh Phúc Toàn Diện Ngữ Pháp Tiếng Anh Bằng Infographic -
                      Tập 1
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>128.700 đ</span>
                      <span>210.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-40%</span>
                      <span>Đã bán 142</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img src='.././public/img/Sale/Product/img 10.jpg' alt='' />
                    <h3>
                      Từ Điển Oxford Anh - Anh - Việt (Bìa Vàng) - Tái Bản
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>193.700 đ</span>
                      <span>290.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-36%</span>
                      <span>Đã bán 523</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

              </div>

              <a class='trend-link' href=''>Xem Thêm</a>

            </div>
          </div>
        </main>
      </div>

      <!-- PRODUCT 3 -->

      <div class='product'>
        <a href=''>
          <img src='.././public/img/Sale/Banner/banner 7.jpg' alt='' />
        </a>

        <main class='trend'>
          <div class='container'>

            <div class='trend-header'>
              <img src='.././public/img/Home/Trend/icon.png' alt='' />
              <h2>Combo</h2>
            </div>

            <div class='sale-body'>
              <ul class='sale-nav'>
                <li class='show-border'>
                  <button>Truyện ngắn</button>
                </li>
                <li>
                  <button>Kinh tế</button>
                </li>
                <li>
                  <button>Kỹ năng sống</button>
                </li>
                <li>
                  <button>Ngoại ngữ</button>
                </li>
                <li>
                  <button>Thiếu nhi</button>
                </li>
              </ul>

              <div class='sale-list'>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 3/img 1.jpg'
                      alt=''
                    />
                    <h3>
                      Combo Sách Nhà Giả Kim + Hành Trình Về Phương Đông (Bộ 2
                      Cuốn)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>155.650 đ</span>
                      <span>197.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-21%</span>
                      <span>Đã bán 776</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 3/img 2.jpg'
                      alt=''
                    />
                    <h3>
                      Combo Sách Lược Sử Thời Gian Và Vũ Trụ Trong Vỏ Hạt Dẻ (Bộ
                      2 Cuốn)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>189.550 đ</span>
                      <span>223.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-15%</span>
                      <span>Đã bán 546</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 3/img 3.jpg'
                      alt=''
                    />
                    <h3>
                      Combo Sách Khaled Hosseini - Người Đua Diều + Ngàn Mặt
                      Trời Rực Rỡ + Và Rồi Núi Vọng (Bộ 3 Cuốn)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>328.600 đ</span>
                      <span>407.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-19%</span>
                      <span>Đã bán 152</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 3/img 4.jpg'
                      alt=''
                    />
                    <h3>
                      Combo Sách Người Đua Diều + Ngàn Mặt Trời Rực Rỡ (Bộ 2
                      Cuốn)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>209.095 đ</span>
                      <span>259.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-19%</span>
                      <span>Đã bán 365</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

                <div class='sale-item tablet-none'>
                  <a href=''>
                    <img
                      src='.././public/img/Sale/Product 3/img 5.jpg'
                      alt=''
                    />
                    <h3>
                      Combo Sách Nhà Giả Kim + Cây Cam Ngọt Của Tôi (Bộ 2 Cuốn)
                    </h3>
                  </a>

                  <div class='trend-price fld-row'>
                    <div class='price-item'>
                      <span>149.600 đ</span>
                      <span>187.000 đ</span>
                    </div>
                    <div class='price-sold'>
                      <span class='price-sale'>-20%</span>
                      <span>Đã bán 369</span>
                    </div>
                  </div>

                  <div class='trend-star'>
                    <ul>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-solid fa-star'></i>
                      </li>
                      <li>
                        <i class='fa-regular fa-star'></i>
                      </li>
                    </ul>
                    <span>4.0</span>
                  </div>

                </div>

              </div>

              <a class='trend-link' href=''>Xem Thêm</a>

            </div>
          </div>
        </main>
      </div>

      <!-- BRAND -->

      <div class='brand'>
        <img class='a' src='.././public/img/Sale/Brand/banner.jpg' alt='' />

        <div class='container'>
          <ul class='brand-list'>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 1.jpg' alt='' />
              </a>
            </li>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 2.jpg' alt='' />
              </a>
            </li>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 3.jpg' alt='' />
              </a>
            </li>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 4.jpg' alt='' />
              </a>
            </li>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 5.jpg' alt='' />
              </a>
            </li>
            <li>
              <a href=''>
                <img src='.././public/img/Sale/Brand/img 6.jpg' alt='' />
              </a>
            </li>../
          </ul>
        </div>
      </div>

      <!-- INFO -->

      <div class='info'>
        <img src='.././public/img/Sale/Banner/banner 8.jpg' alt='' />

        <img src='.././public/img/Sale/Banner/banner 9.jpg' alt='' />
      </div>

    </div>

  </main>

</div>