<header class='header'>
  <nav class='navbar'>
    <div class='navbar__top'>
      <a href=''>
        <img src='./public/img/McBooks_Header_V1_1263x60.jpg' alt='' />
      </a>
    </div>

    <div class='container'>
      <a href='/' class='navbar__logo'>
        <img
          src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo/fahasa_logo.png'
          alt=''
        />
      </a>
      <div class='navbar__menu'>
        <div class='navbar__menu-logo-wrap'>
          <div class='navbar__menu-logo'></div>
          <div class='navbar__menu-down'></div>
        </div>
        <div class='navbar__menu-list'>
          <div class='navbar__menu-list-left'>
            <h2 class='title-left'>Danh mục sản phẩm</h2>
            <ul class='list-left'>
              <li class='item-left active-item-left item-left-1'>Sách trong nước</li>
              <li class='item-left item-left-2'>FOREIGN BOOKS</li>
              <li class='item-left item-left-3'>VPP - Dụng cụ học sinh</li>
              <li class='item-left item-left-4'>Đồ Chơi</li>
              <li class='item-left item-left-5'>Làm Đẹp - Sức Khỏe</li>
              <li class='item-left item-left-6'>Hành Trang Đến Trường</li>
              <li class='item-left item-left-7'>VPP - DCHS Theo Thương Hiệu</li>
              <li class='item-left item-left-8'>Đồ Chơi Theo Thương Hiệu</li>
              <li class='item-left item-left-9'>Bách Hóa Online - Lưu Niệm</li>
            </ul>
          </div>
          <div class='line-nav-menu'></div>
          <div class='navbar__menu-list-right'>
            <h2 class='title-right'>
              <i
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/category/ico_sachtrongnuoc.svg');
                      "
              ></i>
              Sách Trong Nước
            </h2>
            <div class='row row-cols-lg-4'>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>VĂN HỌC</h3>
                  <li class='item-right'>Tiểu Thuyết</li>
                  <li class='item-right'>Truyện Ngắn - Tản Văn</li>
                  <li class='item-right'>Light Novel</li>
                  <li class='item-right'>Ngôn Tình</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>KINH TẾ</h3>
                  <li class='item-right'>
                    Nhân Vật - Bài Học Kinh Doanh
                  </li>
                  <li class='item-right'>Quản Trị - Lãnh Đạo</li>
                  <li class='item-right'>Marketing - Bán Hàng</li>
                  <li class='item-right'>Phân Tích Kinh Tế</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>TÂM LÝ - KĨ NĂNG SỐNG</h3>
                  <li class='item-right'>Kỹ Năng Sống</li>
                  <li class='item-right'>Rèn Luyện Nhân Cách</li>
                  <li class='item-right'>Tâm Lý</li>
                  <li class='item-right'>Sách Cho Tuổi Mới Lớn</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>NUÔI DẠY CON</h3>
                  <li class='item-right'>Cẩm Nang Làm Cha Mẹ</li>
                  <li class='item-right'>Phương Pháp Giáo Dục Trẻ ...</li>
                  <li class='item-right'>Phát Triển Trí Tuệ Cho Trẻ</li>
                  <li class='item-right'>Phát Triển Kỹ Năng Cho Trẻ</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>SÁCH THIẾU NHI</h3>
                  <li class='item-right'>Manga - Comic</li>
                  <li class='item-right'>Kiến Thức Bách Khoa</li>
                  <li class='item-right'>Sách Tranh Kỹ Năng Sống C...</li>
                  <li class='item-right'>Vừa Học - Vừa Học Vừa Chơ...</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>TIỂU SỬ - HỒI KÝ</h3>
                  <li class='item-right'>Câu Chuyện Cuộc Đời</li>
                  <li class='item-right'>Chính Trị</li>
                  <li class='item-right'>Kinh Tế</li>
                  <li class='item-right'>Nghệ Thuật - Giải Trí</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>GIÁO KHOA - THAM KHẢO</h3>
                  <li class='item-right'>Sách Giáo Khoa</li>
                  <li class='item-right'>Sách Tham Khảo</li>
                  <li class='item-right'>Luyện Thi THPT Quốc Gia</li>
                  <li class='item-right'>Mẫu Giáo</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>SÁCH HỌC NGOẠI NGỮ</h3>
                  <li class='item-right'>Tiếng Anh</li>
                  <li class='item-right'>Tiếng Nhật</li>
                  <li class='item-right'>Tiếng Hoa</li>
                  <li class='item-right'>Tiếng Hàn</li>
                  <li class='item-right'>Xem tất cả</li>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>
                    SÁCH MỚI
                    <span style='color: #ff0000'>&nbsp;♥</span>
                  </h3>
                </ul>
              </div>
              <div class='col'>
                <ul class='list-right'>
                  <h3 class='title-item-right'>
                    SÁCH BÁN CHẠY
                    <span style='color: #ff0000'>&nbsp;♥</span>
                  </h3>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='navbar__search'>
        <div class='navbar__search-input-wrap'>
          <input
            class='navbar__search-input'
            type='text'
            placeholder='Tìm kiểm sản phẩm mong muốn...'
          />
          <div class='navbar__search-rcm'>
            <a class='search-rcm__top'>
              <span>Luyện Thi THPT Quốc Gia</span>
              <img src='./public/img/Artboard_11.3.jpg' alt='' />
            </a>
            <div class='search-rcm__mid'>
              <div class='search-rcm--title'>
                <div class='search-rcm--title-name'>
                  <img
                    src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_searchtrending_black.svg'
                    alt=''
                    class='i-up'
                  />
                  <span>Từ khóa hot</span>
                </div>
                <div class='search-rcm--random'></div>
              </div>
              <ul class='search-rcm__mid-list row row-cols-lg-3 gx-2 gx-3'>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
                <li class='search-rcm__mid-item col'>
                  <img src='./public/img/Book/tdcsvnsh.jpg' alt='' />
                  <span>Tâm Lý Giảm Đến 50%</span>
                </li>
              </ul>
            </div>
            <div class='line'></div>
            <div class='search-rcm__bot'>
              <div class='search-rcm--title'>
                <div class='search-rcm--title-name'>
                  <img
                    src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_menu.svg'
                    alt=''
                  />
                  <span>Danh mục nổi bật</span>
                </div>
                <div class='search-rcm--random'></div>
              </div>
              <ul class='search-rcm__bot-list row gx-3 row-cols-lg-4'>
                <li class='search-rcm__bot-item col'>
                  <img src='./public/img/Book/8936067605693.jpg' alt='' />
                  <p>Tủ Sách Minh Long Giảm 50%</p>
                </li>
                <li class='search-rcm__bot-item col'>
                  <img src='./public/img/Book/8936067605693.jpg' alt='' />
                  <p>Tủ Sách Minh Long Giảm 50%</p>
                </li>
                <li class='search-rcm__bot-item col'>
                  <img src='./public/img/Book/8936067605693.jpg' alt='' />
                  <p>Tủ Sách Minh Long Giảm 50%</p>
                </li>
                <li class='search-rcm__bot-item col'>
                  <img src='./public/img/Book/8936067605693.jpg' alt='' />
                  <p>Tủ Sách Minh Long Giảm 50%</p>
                </li>
              </ul>
            </div>
          </div>
          <div class='navbar__search-bg'></div>
        </div>
        <button>
          <div
            style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_search_white.svg');
                  "
          ></div>
        </button>
      </div>
      <div class='navbar__list'>
        <a class='navbar__list-item'>
          <div class='navbar__list-item-no'>
            <div
              class='navbar__list-item-icon'
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_gray.svg');
                    "
            ></div>
            <p>Thông Báo</p>
            <div class='no-history'>
              <div class='no-history-top'>
                <img
                  src='https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_noti_black.svg'
                  alt=''
                />
                <span>Thông báo</span>
              </div>
              <div class='no-history-mid'>
                <div class='lock-icon'>
                  <span
                    style="
                            background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/customer/ico_login.svg');
                          "
                  ></span>
                </div>
                <p class='no-text'>Vui lòng đăng nhập để xem thông báo</p>
              </div>
              <div class='btn-list'>
                <button>Đăng nhập</button>
                <button>Đăng ký</button>
              </div>
            </div>
          </div>
        </a>
        <a class='navbar__list-item'>
          <div
            class='navbar__list-item-icon'
            style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_cart_gray.svg');
                  "
          ></div>
          <p>Giỏ Hàng</p>
        </a>
        {{#if isAuthenticated}}
          <a class='navbar__list-item item-acc'>
            <div
              class='navbar__list-item-icon'
              style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
            ></div>
            <p>Admin</p>
            <div class='navbar-acc'>
              <div class='btn-list'>
                <a>Đăng xuất</a>
              </div>
            </div>
          </a>
        {{else}}
          <a class='navbar__list-item item-acc' href='/login'>
            <div
              class='navbar__list-item-icon'
              style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
            ></div>
            <p>Dung Nguyen</p>

            <div class='login'>

              <div class='user-info'>
                <div
                  class='user-icon'
                  style='background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/vip/ico_vip_copper.svg);'
                >
                </div>
                <div class='user-name'>
                  <h4>Dung Nguyen</h4>
                  <span>Thành viên Fahasa</span>
                </div>
                <i class='fa-solid fa-chevron-right'></i>
              </div>

              <div class='user-item'>
                <div
                  class='user-item-icon'
                  style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
                >
                </div>
                <span>Đơn hàng của tôi</span>
              </div>

              <div class='user-item'>
                <div
                  class='user-item-icon'
                  style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
                >
                </div>
                <span>Wallet Voucher</span>
              </div>

              <div class='user-item'>
                <div
                  class='user-item-icon'
                  style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_fpoint_gray.svg);'
                >
                </div>
                <span>Tài khoản F-point</span>
              </div>

              <div class='user-item'>
                <div
                  class='user-item-icon'
                  style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
                >
                </div>
                <span>Đăng xuất</span>
              </div>

            </div>
          </a>
        {{/if}}
        <a class='navbar__list-item'>
          <div class='language'>
            <div
              class='navbar__list-item-icon'
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                    "
            ></div>
            <span
              style="
                      background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon_seemore_gray.svg');
                    "
            ></span>
          </div>
          <div class='language-choice'>
            <div class='language-vn ac-language'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/default.svg');
                      "
              ></div>
              <span>VN</span>
            </div>
            <div class='language-en'>
              <div
                class='language-icon'
                style="
                        background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/store/english.svg');
                      "
              ></div>
              <span>EN</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav></header>
<a class='navbar__list-item item-acc' href='/login'>
  <div
    class='navbar__list-item-icon'
    style="
                    background-image: url('https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_account_gray.svg');
                  "
  ></div>
  <p>Dung Nguyen</p>

  <div class='login'>

    <div class='user-info'>
      <div
        class='user-icon'
        style='background-image: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/vip/ico_vip_copper.svg);'
      >
      </div>
      <div class='user-name'>
        <h4>Dung Nguyen</h4>
        <span>Thành viên Fahasa</span>
      </div>
      <i class='fa-solid fa-chevron-right'></i>
    </div>

    <div class='user-item'>
      <div
        class='user-item-icon'
        style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_bill_gray.svg);'
      >
      </div>
      <span>Đơn hàng của tôi</span>
    </div>

    <div class='user-item'>
      <div
        class='user-item-icon'
        style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_voucher_gray.svg);'
      >
      </div>
      <span>Wallet Voucher</span>
    </div>

    <div class='user-item'>
      <div
        class='user-item-icon'
        style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_fpoint_gray.svg);'
      >
      </div>
      <span>Tài khoản F-point</span>
    </div>

    <div class='user-item'>
      <div
        class='user-item-icon'
        style='background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_logout_gray.svg);'
      >
      </div>
      <span>Đăng xuất</span>
    </div>

  </div>
</a>